@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  color: white;
  background-color: black;
  font-size: 62.5%;
  font-family: "Inter", "system-ui";
  scroll-behavior: smooth;
}

h1{
  font-size: 8rem;

}

h2{
  margin-bottom: 1.6rem;
  font-size: 4.5rem;
}

h3{
  margin-bottom: 1.6rem;
  font-size: 2rem;
}

h4{
  font-size: 1.2rem;
  font-weight: 500;
}

p{
  margin: 3rem 0;
  font-size: 2rem;
  text-align: center;
}

.frame{
 position: absolute;
 top: 5%;
 left: 5%;
 height: 90%;
 width: 90%;
 border: 1px solid #6A6A6A;
 border-radius: 10px;
 pointer-events: none;
}

/* //-------EnterName Screen styles------------------------// */
.userName{
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 2.5rem 4rem;
}

input[type="text"]{
  -webkit-appearance: none;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid #6A6A6A;
  font-size: 2.4rem;
}

.enterName:focus{
  outline: none;
} 

/* //-------reusable BUTTONS styles------------------------// */
button{
  height: 66px;
  width: 254px;
  margin: 0 auto;
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.backButton{
  justify-content: center;
  color: white;
  background-color: black;
  border: none;
  font-size: 1.5rem;
}
/* //------------------------------------------------// */

.mainContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
}

.surveyQuestions, label{
  margin-top: 3.6rem;
  margin-bottom: 5rem;
  height: 3rem;
  width: 55rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

 label{
  font-size: 2.4rem;
  padding: 1rem;
}

/* //-------QUESTION 1 STYLE------------------------// */
.question-1[type="checkbox"]{
  position: relative;
  -webkit-appearance: none;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border: 2px solid #6A6A6A;
  border-radius: 50%;
  background-color: black;
}
.question-1:checked{
  background-color: white;
  border: 2px solid transparent
}
.question-1:checked:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '\2713';
  margin-top: 0.2rem;
  padding-left: 0.6rem;
  /* background-color: pink; */
  font-family: "Inter", "system-ui";
  font-size: 1.8rem;
  text-align: center;
  color:black;
}

/* //-------QUESTION 2 STYLE------------------------// */
.question-2[type="checkbox"]{
  position: relative;
  -webkit-appearance: none;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border: 2px solid #6A6A6A;
}
.question-2:checked{
  background-color: white;
  border: 2px solid transparent
}
.question-2:checked:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '\2713';
  margin-top: 0.2rem;
  padding-left: 0.4rem;
  /* background-color: pink; */
  font-family: "Inter", "system-ui";
  font-weight: 500;
  font-size: 1.8rem;
  color:black;
}

/* //-----------------------drop Down------------------------// */

.dropDownContainer{
  width: 100%;
  height: 100%;
}

.dropDown{
  position: relative;
  width: 50rem;
  margin: 0 auto;
  padding: 0;
  user-select: none;
}

.dropDown .dropDownBtn{
  display: flex;
  padding: 0.5rem 1rem ;
  background-color: black;
  border: 2px solid white;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2rem;
  cursor: pointer;
}

.dropDownBtn > div{
font-size: 1rem;
}

.dropDown .dropDownContent{
  position: absolute;
  background-color: black;
  border: 2px solid white;
  top: calc(100% - 0.2rem);
  left: 0;
  width: 100%;
  font-size: 2.2rem;
}

.dropDown .dropDownContent .dropDownItem{
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.dropDown .dropDownContent .dropDownItem:hover{
  padding: 0.5rem 1rem;
  color: black;
  background-color: white;
}


/* //-------RESULTS display----------------// */
.finalPoints{
  margin: 0;
}

.resultBarContainer{
  position: relative;
  margin-top: 1.7rem;
  margin-bottom: 5rem;
  height: 3rem;
  width: 50rem;
  position: relative;
  border: 2px solid white;
}
.resultBar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  border: 2px solid transparent;
}

/* //---------Progress tracker---------------// */
.progresBarContainer {
  position: absolute;
  display: inline-block;
  bottom: 7vh;
  left: 6vw;
  height: 1rem;
  width: calc(88vw - 10px);
  border: 1px solid #707070;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
 
}
 
.progresBar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
}

.progresTrack{
  position: absolute;
  text-align: right;
  bottom: calc(7vh + 20px);
  right: calc(6vw + 10px);
  height: 1rem;
  width: 50vw;
  color: #767676;
}
 