*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  color: white;
  background-color: black;
  font-size: 62.5%;
  font-family: "Inter", "system-ui";
  scroll-behavior: smooth;
  /* font-family: 'Roboto Slab', serif; */
}

h1{
  font-size: 8rem;

}

h2{
  margin-bottom: 1.6rem;
  font-size: 4.5rem;
}

h3{
  margin-bottom: 1.6rem;
  font-size: 2rem;
}
h4{
  font-size: 1.2rem;
  font-weight: 500;
}
p{
  margin: 3rem 0;
  font-size: 2rem;
  text-align: center;
}

.frame{
 position: absolute;
 top: 5%;
 left: 5%;
 height: 90%;
 width: 90%;
 border: 1px solid #6A6A6A;
 border-radius: 10px;
 pointer-events: none;
}

.userName{
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 2.5rem 4rem;
}

input[type="text"]{
  -webkit-appearance: none;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid #6A6A6A;
  font-size: 2.4rem;

}

.enterName:focus{
  outline: none;
} 

button{
  height: 66px;
  width: 254px;
  margin: 0 auto;
  padding: 2rem 6rem;
  display: inline-block;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.backButton{
  color: white;
  background-color: black;
  border: none;
  font-size: 1.5rem;
}

.mainContainer{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
}

.surveyQuestions, label{
  margin-top: 3.6rem;
  margin-bottom: 5rem;
  height: 3rem;
  width: 55rem;
  display:flex;
  align-items: center;
  justify-content: center;
}

 label{
  font-size: 2.4rem;
  padding: 1rem;
}
.question-1[type="checkbox"]{
  position: relative;
  -webkit-appearance: none;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border: 2px solid #6A6A6A;
  border-radius: 50%;
  background-color: black;
}
.question-1:checked{
  background-color: white;
  border: 2px solid transparent
}
.question-1:checked:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '\2713';
  margin-top: 0.2rem;
  padding-left: 0.6rem;
  /* background-color: pink; */
  font-family: "Inter", "system-ui";
  font-size: 1.8rem;
  text-align: center;
  transform: scaleY(0.8);
  color:black;
}

.question-2[type="checkbox"]{
  position: relative;
  -webkit-appearance: none;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border: 2px solid #6A6A6A;
}
.question-2:checked{
  background-color: white;
  border: 2px solid transparent
}
.question-2:checked:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '\2713';
  margin-top: 0.2rem;
  padding-left: 0.4rem;
  /* background-color: pink; */
  font-family: "Inter", "system-ui";
  font-weight: 300;
  font-size: 1.8rem;
  transform: scaleX(1.6);
  color:black;
}

/* //-----------------------drop Down------------------------// */

.select{
  position: relative;
  height: 3rem;
  width: 20rem;
  margin: 1rem;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border: 2px solid cyan ;
}

.select::after{
  position: absolute;
  top: 0;
  right: 0;
  content: "\25BC";
  font-family: "Inter", "system-ui";
  /* background: rgb(83, 82, 82); */
  padding: 0.8rem;
  pointer-events: none;
}

/* //----------remove styles form select----------// */
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  width: 100%;
}

select{
  position: absolute;
  border: 2px solid rgb(232, 15, 15);
  height: 3rem;
  /* width: 100px; */
  padding: 0.5rem 1rem;
  background-color: rgb(117, 115, 115);
  color: rgb(254, 255, 254);
  cursor: pointer;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;

}
option{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color:red;
  box-shadow: none;
  margin: 0;
  width: 100%;
}

/* //-----------second dropDown atempt---------------// */

.dropDownContainer{
  width: 100%;
  height: 100%;
}

.dropDown{
  position: relative;
  width: 50rem;
  margin: 0 auto;
  padding: 0;
  /* background-color: rgb(121, 136, 122); */
  user-select: none;

}

.dropDown .dropDownBtn{
  display: flex;
  padding: 0.5rem 1rem ;
  background-color: black;
  border: 2px solid white;
  align-items: center;
  justify-content: space-between;
  font-size: 2.2rem;
  cursor: pointer;
}

.dropDown .dropDownContent{
  position: absolute;
  background-color: black;
  border: 2px solid white;
  top: calc(100% - 0.2rem);
  left: 0;
  width: 100%;
  font-size: 2.2rem;
}

.dropDown .dropDownContent .dropDownItem{
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s;
}

.dropDown .dropDownContent .dropDownItem:hover{
  padding: 0.5rem 1rem;
  color: black;
  background-color: white;
  
}

.finalPoints{
  margin: 0;
}

.resultBarContainer{
  position: relative;
  margin-top: 1.7rem;
  margin-bottom: 5rem;
  height: 3rem;
  width: 50rem;
  position: relative;
  border: 2px solid white;
}
.resultBar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  border: 2px solid transparent;
}

.progresBarContainer {
  position: absolute;
  display: inline-block;
  bottom: 7vh;
  left: 6vw;
  height: 1rem;
  width: calc(88vw - 10px);
  border: 1px solid #707070;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
 
}
 

.progresBar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
}

.progresTrack{
  position: absolute;
  text-align: right;
  bottom: calc(7vh + 20px);
  right: calc(6vw + 10px);
  height: 1rem;
  width: 50vw;
  color: #767676;
}
 